.zvezdeGranda {
    display: flex;
    justify-content: center;
}

.zvezdeGranda-leftBanner {
    height: 100vh;
}

.zvezdeGranda-center{
    width: 80%;
}

.zvezdeGranda-rightBanner {
    height: 100vh;
}