.zvezdeGranda-popularNews {
    width: 100%;
}

.zvezdeGranda-popularNewsMainTitle {
    padding-right: .5rem;
    padding-bottom: .5rem;
}

.zvezdeGranda-popularNewsMainTitleText {
    background-color: $zvezdeGranda-color;
    color: $primary-color-2;
    padding: .5rem;
    box-sizing: border-box;
    clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%);
    width: 40%;
}

.zvezdeGranda-popularNewsItems {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
}

.zvezdeGrandaPopularNews-image {
    height: 50%;
    width: 100%;
}

.zvezdeGrandaPopularNews-imageItem {
    object-fit: cover;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.zvezdeGrandaPopularNews-titleText {
    font-weight: bold;
}

.zvezdeGranda-popularMainNewsItems {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    padding-bottom: 4rem;
}
.zvezdeGranda-popularMainNewsItems :first-child {
    grid-column: 1 / -1;
}

.zvezdeGrandaOneMainPopularNewsItem {
    padding-bottom: 1rem;
}

.zvezdeGrandaOneMainPopularNews-image {
    height: 90%;
    width: 100%;
}

.zvezdeGrandaOneMainPopularNews-imageItem {
    object-fit: cover;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 768px){
    .zvezdeGranda-popularNewsItems {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
        padding-bottom: 2.5rem;
    }
    .zvezdeGranda-popularNewsMainTitleText {
        width: 100%;
    }
    .zvezdeGranda-popularMainNewsItems {
        display: block;
        padding-bottom: 0;
    }
    .zvezdeGrandaOneMainPopularNews-image {
        height: 50%;
        width: 100%;
    }
    .zvezdeGrandaOneMainPopularNewsItem {
        padding-bottom: 1rem;
    }
}
