.grandoskop {
    padding-top: 80px;
}

.grandoskop-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: $primary-color-2;
    padding-top: 33px;
}

.grandoskop-contentCenter {
    width: 70%;
    height: 100vh;
    margin: auto;
    box-sizing: border-box;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.horoskop-contentCenterMain {
    display: flex;
}

.horoskop-contentCenterMainNews {
    width: 70%;
}

.horoskop-contentCenterPromotions {
    width: 30%;
}

.grandoskop-leftBanner {
    height: 100vh;
    max-width: 15%;
    position: fixed;
    left: 0;
}

.grandoskop-leftBannerImage {
    width: 100%;
}

.grandoskop-rightBanner {
    height: 100vh;
    max-width: 15%;
    position: fixed;
    right: 0;
}

.grandoskop-rightBannerImage {
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .grandoskop-contentCenter {
        display: block;
        width: 100%
    }
} 

@media screen and (max-width: 1200px) {
    .grandoskop-leftBanner {
        display: none
    }
}  

@media screen and (max-width: 1200px) {
    .grandoskop-rightBanner {
        display: none
    }
} 

@media screen and (max-width: 576px) {
    .grandoskop {
        padding-top: 30px;
    }
    .grandoskop-content {
        padding-top: 3%;
    }
    .horoskop-contentCenterMain {
        display: block;
    }
    
    .horoskop-contentCenterMainNews {
        width: 100%;
    }
    
    .horoskop-contentCenterPromotions {
        width: 100%;
    }
}