* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-size: calc(13px + (18 - 14) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
}

.emisije {
  padding-top: 80px;
}

.emisije-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #ffffff;
  padding-top: 33px;
}

.emisije-contentCenter {
  width: 70%;
  height: 100vh;
  margin: auto;
  box-sizing: border-box;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.emisije-leftBanner {
  height: 100vh;
  max-width: 15%;
  position: fixed;
  left: 0;
}

.emisije-leftBannerImage {
  width: 100%;
}

.emisije-rightBanner {
  height: 100vh;
  max-width: 15%;
  position: fixed;
  right: 0;
}

.emisije-rightBannerImage {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .emisije-contentCenter {
    display: block;
  }
}
@media screen and (max-width: 1200px) {
  .emisije-leftBanner {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .emisije-rightBanner {
    display: none;
  }
}
.footer {
  width: 100%;
  background-color: #303030;
}

.footer-links {
  padding-top: 3rem;
  text-align: center;
}

.footer-link {
  color: #ffffff;
  padding: 0.5rem;
}

.footer-icons {
  filter: invert(100%) sepia(99%) saturate(16%) hue-rotate(239deg) brightness(103%) contrast(100%);
  width: 25%;
  display: flex;
  margin: auto;
  justify-content: center;
  padding-top: 2rem;
}

.footer-copyright {
  color: #ffffff;
  text-align: center;
  padding: 1rem;
}

@media screen and (max-width: 768px) {
  .footer-link {
    display: inline-block;
  }
}
.grandoskop {
  padding-top: 80px;
}

.grandoskop-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #ffffff;
  padding-top: 33px;
}

.grandoskop-contentCenter {
  width: 70%;
  height: 100vh;
  margin: auto;
  box-sizing: border-box;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.grandoskop-leftBanner {
  height: 100vh;
  max-width: 15%;
  position: fixed;
  left: 0;
}

.grandoskop-leftBannerImage {
  width: 100%;
}

.grandoskop-rightBanner {
  height: 100vh;
  max-width: 15%;
  position: fixed;
  right: 0;
}

.grandoskop-rightBannerImage {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .grandoskop-contentCenter {
    display: block;
  }
}
@media screen and (max-width: 1200px) {
  .grandoskop-leftBanner {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .grandoskop-rightBanner {
    display: none;
  }
}
.horoskop {
  padding-top: 80px;
}

.horoskop-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #ffffff;
  padding-top: 33px;
}

.horoskop-contentCenter {
  width: 70%;
  height: 100vh;
  margin: auto;
  box-sizing: border-box;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.horoskop-leftBanner {
  height: 100vh;
  max-width: 15%;
  position: fixed;
  left: 0;
}

.horoskop-leftBannerImage {
  width: 100%;
}

.horoskop-rightBanner {
  height: 100vh;
  max-width: 15%;
  position: fixed;
  right: 0;
}

.horoskop-rightBannerImage {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .horoskop-contentCenter {
    display: block;
  }
}
@media screen and (max-width: 1200px) {
  .horoskop-leftBanner {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .horoskop-rightBanner {
    display: none;
  }
}
.navbar-logo-placeholder {
  background-color: #E44326;
  width: 15%;
}

.navbar-logo {
  height: 100%;
  width: 100%;
}

.navbar {
  background-color: #dbdbdb !important;
  width: 100% !important;
  padding: 0 !important;
  flex-flow: wrap !important;
  height: 80px;
}

.navbar-nav {
  text-align: center !important;
  margin: 0 auto;
}

.nav-item {
  margin: 0 auto;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.nav-link {
  color: #000000 !important;
  height: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.showbizzLink {
  border-bottom: 3px solid red;
}

.zvezde-grandaLink {
  border-bottom: 3px solid #dda92f;
}

.nikad-nije-kasnoLink {
  border-bottom: 3px solid #5a319d;
}

.prakticna-zenaLink {
  border-bottom: 3px solid #B17216;
}

.horoskopLink {
  border-bottom: 3px solid #3774A6;
}

.receptiLink {
  border-bottom: 3px solid #886C52;
}

.grandLink {
  border-bottom: 3px solid #B17216;
}

.dropdown-menu {
  background-color: #dbdbdb !important;
}

.dropdown-item {
  color: #000000 !important;
}

.dropdown-item-grandoskop:hover {
  background-color: #3774A6 !important;
}

.dropdown-item-horoskop:hover {
  background-color: #3774A6 !important;
}

.dropdown-item-emisije:hover {
  background-color: #B17216 !important;
}

.dropdown-item-programska-sema:hover {
  background-color: #B17216 !important;
}

.dropdown-horoskop {
  border: 3px solid #3774A6;
}

.dropdown-grand {
  border: 3px solid #B17216;
}

.navbar-collapse {
  text-align: -webkit-center;
}

.navbar-toggler {
  color: #000000 !important;
  border-color: #dbdbdb !important;
}

.navbar > .container, .navbar > .container-fluid {
  align-items: initial;
  min-width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  border-bottom: 1px solid black;
  height: 100%;
}

.navbar-user {
  background-color: #E44326;
  width: 17.5%;
  text-align: center;
  padding-top: 1%;
  height: -webkit-fill-available;
}

.user-icon {
  fill: #000000 !important;
}

@media screen and (max-width: 576px) {
  .navbar {
    height: max-content;
  }
}
@media screen and (max-width: 846px) {
  .navbar-user {
    padding-bottom: 2%;
  }
}
.nav-track {
  display: flex;
  justify-content: space-between;
  padding: 4px 17%;
  min-height: 20px;
  width: 100%;
  background-color: #dbdbdb;
  color: #000000;
  border-bottom: 1px solid black;
  position: fixed;
  z-index: 10;
}

.nav-track-programItem {
  font-weight: bold;
}

.nav-track-social {
  display: flex;
}

.nav-track-social-icon {
  height: 1.5rem;
  margin-left: 1rem;
}

@media screen and (max-width: 840px) {
  .nav-track {
    font-size: 80%;
  }
}
@media screen and (max-width: 576px) {
  .nav-track {
    display: none;
  }
}
@media screen and (max-width: 1005px) {
  .nav-track {
    padding: 4px 10px;
  }
}
.nikadNijeKasno {
  padding-top: 80px;
}

.nikadNijeKasno-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #ffffff;
  padding-top: 33px;
}

.nikadNijeKasno-contentCenter {
  width: 70%;
  height: 100vh;
  margin: auto;
  box-sizing: border-box;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.nikadNijeKasno-leftBanner {
  height: 100vh;
  max-width: 15%;
  position: fixed;
  left: 0;
}

.nikadNijeKasno-leftBannerImage {
  width: 100%;
}

.nikadNijeKasno-rightBanner {
  height: 100vh;
  max-width: 15%;
  position: fixed;
  right: 0;
}

.nikadNijeKasno-rightBannerImage {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .nikadNijeKasno-contentCenter {
    display: block;
  }
}
@media screen and (max-width: 1200px) {
  .nikadNijeKasno-leftBanner {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .nikadNijeKasno-rightBanner {
    display: none;
  }
}
.prakticnaZena {
  padding-top: 80px;
}

.prakticnaZena-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #ffffff;
  padding-top: 33px;
}

.prakticnaZena-contentCenter {
  width: 70%;
  height: 100vh;
  margin: auto;
  box-sizing: border-box;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.prakticnaZena-leftBanner {
  height: 100vh;
  max-width: 15%;
  position: fixed;
  left: 0;
}

.prakticnaZena-leftBannerImage {
  width: 100%;
}

.prakticnaZena-rightBanner {
  height: 100vh;
  max-width: 15%;
  position: fixed;
  right: 0;
}

@media screen and (max-width: 1200px) {
  .prakticnaZena-contentCenter {
    display: block;
  }
}
@media screen and (max-width: 1200px) {
  .prakticnaZena-leftBanner {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .prakticnaZena-rightBanner {
    display: none;
  }
}
.programskaSema {
  padding-top: 80px;
}

.programskaSema-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #ffffff;
  padding-top: 33px;
}

.programskaSema-contentCenter {
  width: 70%;
  height: 100vh;
  margin: auto;
  box-sizing: border-box;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.programskaSema-leftBanner {
  height: 100vh;
  max-width: 15%;
  position: fixed;
  left: 0;
}

.programskaSema-leftBannerImage {
  width: 100%;
}

.programskaSema-rightBanner {
  height: 100vh;
  max-width: 15%;
  position: fixed;
  right: 0;
}

.programskaSema-rightBannerImage {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .programskaSema-contentCenter {
    display: block;
  }
}
@media screen and (max-width: 1200px) {
  .programskaSema-leftBanner {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .programskaSema-rightBanner {
    display: none;
  }
}
.recepti {
  padding-top: 80px;
}

.recepti-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #ffffff;
  padding-top: 33px;
}

.recepti-contentCenter {
  width: 70%;
  height: 100vh;
  margin: auto;
  box-sizing: border-box;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.recepti-leftBanner {
  height: 100vh;
  max-width: 15%;
  position: fixed;
  left: 0;
}

.recepti-leftBannerImage {
  width: 100%;
}

.recepti-rightBanner {
  height: 100vh;
  max-width: 15%;
  position: fixed;
  right: 0;
}

.recepti-rightBannerImage {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .recepti-contentCenter {
    display: block;
  }
}
@media screen and (max-width: 1200px) {
  .recepti-leftBanner {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .recepti-rightBanner {
    display: none;
  }
}
.showbizz {
  padding-top: 80px;
}

.showbizz-content {
  width: 100%;
  background-color: #ffffff;
  padding-top: 33px;
}

.showbizz-contentCenter {
  width: 70%;
  height: 100vh;
  margin: auto;
  box-sizing: border-box;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.showbizz-leftBanner {
  height: 100vh;
  max-width: 15%;
  position: fixed;
  left: 0;
}

.showbizz-leftBannerImage {
  width: 100%;
}

.showbizz-rightBanner {
  height: 100vh;
  max-width: 15%;
  position: fixed;
  right: 0;
}

.showbizz-rightBannerImage {
  width: 100%;
}

.showbizz-contentCenterCarousel {
  display: flex;
  justify-content: space-between;
}

.showbizz-contentCenterSecond {
  display: flex;
}

.showbizz-contentCenterShows {
  width: 40%;
}

.showbizz-contentCenterMostReadNews {
  width: 60%;
}

.showbizz-contentCenterFooter {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
}

@media (max-width: 1200px) {
  .showbizz-contentCenter {
    display: block;
    width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  .showbizz-leftBanner {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .showbizz-rightBanner {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .showbizz {
    padding-top: 40px;
  }

  .showbizz-content {
    padding-top: 0;
  }

  .showbizz-contentCenterCarousel {
    display: block;
  }

  .showbizz-contentCenterSecond {
    display: block;
  }

  .showbizz-contentCenterShows {
    width: 100%;
  }

  .showbizz-contentCenterMostReadNews {
    width: 100%;
  }
}
.zvezdeGranda {
  padding-top: 80px;
}

.zvezdeGranda-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #ffffff;
  padding-top: 33px;
}

.zvezdeGranda-contentCenter {
  width: 70%;
  height: 100vh;
  margin: auto;
  box-sizing: border-box;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.zvezdeGranda-leftBanner {
  height: 100vh;
  max-width: 15%;
  position: fixed;
  left: 0;
}

.zvezdeGranda-leftBannerImage {
  width: 100%;
}

.zvezdeGranda-rightBanner {
  height: 100vh;
  max-width: 15%;
  position: fixed;
  right: 0;
}

.zvezdeGranda-rightBannerImage {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .zvezdeGranda-contentCenter {
    display: block;
  }
}
@media screen and (max-width: 1200px) {
  .zvezdeGranda-leftBanner {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .zvezdeGranda-rightBanner {
    display: none;
  }
}
.showbizz-carousel {
  width: 60%;
  height: 45%;
  padding: 1rem;
  box-sizing: border-box;
}

.carousel .carousel-item {
  height: 400px;
}

.carousel-item img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  min-height: 400px;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  left: 0;
  bottom: 0;
}

.carousel-captionDateTitle {
  text-align: left;
  padding-left: 1rem;
}

.carousel-indicators {
  margin-bottom: 0;
}

@media screen and (max-width: 576px) {
  .showbizz-carousel {
    width: 100%;
  }
}
.showbizz-poll {
  width: 40%;
  height: 432px;
  box-sizing: border-box;
  padding: 1rem;
}

.showbizz-pollItem {
  object-fit: cover;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.showbizz-pollInner {
  width: 100%;
  height: 100%;
  position: relative;
}

.showbizz-pollItemBrandText {
  color: #ffffff;
  position: absolute;
  width: fit-content;
  box-sizing: border-box;
  background-color: #5a319d;
  top: 0;
  left: 0;
  padding: 0.3rem;
}

.showbizz-pollItemLayer {
  color: #ffffff;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  padding: 1rem;
}

.btn-poll {
  margin-top: 0.5rem;
}

@media screen and (max-width: 576px) {
  .showbizz-poll {
    width: 100%;
    margin-right: 2rem;
  }
}
.showbizz-news {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 0.5rem;
}

.showbizz-newsItems {
  max-width: 100%;
  box-sizing: border-box;
  padding: 1rem;
}

.showbizz-newsItemsImage {
  height: 100%;
  width: 100%;
}

.showbizz-newsItem {
  object-fit: cover;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.showbizz-newsTitle {
  position: relative;
}

.showbizz-newsBrand {
  position: relative;
}

.showbizz-newsBrandText {
  color: #ffffff;
  position: absolute;
  width: fit-content;
  box-sizing: border-box;
  top: 0;
  left: 0;
  padding: 0.3rem;
}

.nikadNijeKasno {
  background-color: #5a319d;
}

.grand {
  background-color: #B17216;
}

.showbizz-newsItemTitle {
  position: absolute;
  width: 100%;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  padding: 0.2rem;
}

@media screen and (max-width: 1600px) {
  .showbizz-newsItemTitle {
    font-size: small;
  }
}
@media screen and (max-width: 1100px) {
  .showbizz-news {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.5rem;
  }
}
@media screen and (max-width: 450px) {
  .showbizz-news {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 0.5rem;
  }
}
.showbizz-popularNews {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 0.5rem;
}

.showbizz-popularNewsMainTitle {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.showbizz-popularNewsMainTitleText {
  background-color: #E44326;
  color: #ffffff;
  padding: 0.5rem;
  box-sizing: border-box;
  clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%);
  width: 50%;
}

.showbizz-popularNewsItems {
  max-width: 100%;
  box-sizing: border-box;
  padding: 1rem;
}

.showbizz-popularNewsItemsImage {
  height: 100%;
  width: 100%;
}

.showbizz-popularNewsItem {
  object-fit: cover;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.showbizz-popularNewsBrand {
  position: relative;
}

.showbizz-popularNewsBrandText {
  color: #ffffff;
  position: absolute;
  width: fit-content;
  box-sizing: border-box;
  top: 0;
  left: 0;
  padding: 0.3rem;
}

.zvezdeGranda {
  background-color: #dda92f;
}

.showbizz-popularNewsTitle {
  position: relative;
}

.showbizz-popularNewsItemTitle {
  width: 100%;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  padding: 0.2rem;
}

@media screen and (max-width: 768px) {
  .showbizz-popularNews {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.5rem;
  }

  .showbizz-popularNewsMainTitleText {
    width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .showbizz-popularNews {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 0.5rem;
  }
}
.shows {
  display: block;
  max-width: 100%;
}

.showsMainTitle {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.showsMainTitleText {
  background-color: #E44326;
  color: #ffffff;
  padding: 0.5rem;
  box-sizing: border-box;
  clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%);
  width: 70%;
}

.showsItems {
  max-width: 100%;
  box-sizing: border-box;
  padding: 1rem;
}

.showsItemsImage {
  height: 100%;
  width: 100%;
}

.showsItem {
  object-fit: cover;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.showsItemText {
  position: relative;
}

.showsItemCaption {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  padding: 0.2rem;
}

.showsItemTitle {
  width: 100%;
  color: #ffffff;
}

.showsItemTime {
  width: 100%;
  color: #ffffff;
}

@media screen and (max-width: 576px) {
  .shows {
    width: 100%;
  }

  .showsMainTitleText {
    width: 100%;
  }
}
.mostReadNews {
  display: block;
  width: 100%;
}

.mostReadNewsMainTitle {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.mostReadNewsMainTitleText {
  background-color: #E44326;
  color: #ffffff;
  padding: 0.5rem;
  box-sizing: border-box;
  clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%);
  width: 65%;
}

.mostReadNewsItems {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
}

.mostReadNewsItemsImage {
  height: 100%;
  width: 100%;
}

.mostReadNewsItem {
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
}

.mostReadNewsItemTitle {
  width: 100%;
  color: #000000;
  background-color: #dbdbdb;
  height: 100%;
  padding-left: 0.5rem;
}

.showbizz-mostReadNewsBrand {
  position: relative;
}

.showbizz-mostReadNewsBrandText {
  color: #ffffff;
  position: absolute;
  width: fit-content;
  box-sizing: border-box;
  bottom: 0;
  right: 0;
  padding: 0.3rem;
  margin-bottom: 0.5rem;
}

.horoskop {
  background-color: #3774A6;
}

.grand {
  background-color: #B17216;
}

.zvezdeGranda {
  background-color: #dda92f;
}

@media screen and (max-width: 1300px) {
  .mostReadNewsItemTitle {
    font-size: medium;
  }
}
@media screen and (max-width: 576px) {
  .mostReadNewsItems {
    display: block;
  }

  .mostReadNews {
    width: 100%;
  }

  .mostReadNewsMainTitleText {
    width: 100%;
    font-size: medium;
  }

  .mostReadNewsItemTitle {
    padding-bottom: 2rem;
  }
}
.newsTest {
  padding-top: 80px;
}

.newsTest-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #ffffff;
  padding-top: 33px;
}

.newsTest-contentCenter {
  width: 70%;
  height: 100vh;
  margin: auto;
  box-sizing: border-box;
  padding: 1rem;
}

.newsTest-newsItem {
  object-fit: cover;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.newsTest-leftBanner {
  height: 100vh;
  max-width: 15%;
  position: fixed;
  left: 0;
}

.newsTest-leftBannerImage {
  width: 100%;
}

.newsTest-rightBanner {
  height: 100vh;
  max-width: 15%;
  position: fixed;
  right: 0;
}

.newsTest-rightBannerImage {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .newsTest-contentCenter {
    display: block;
    width: 100%;
  }
}
@media screen and (max-width: 575px) {
  .newsTest {
    padding-top: 0;
  }
}
@media screen and (max-width: 1200px) {
  .newsTest-leftBanner {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .newsTest-rightBanner {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  section {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
