* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.emisije-content {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #ffffff;
  height: 100vh;
}

.footer {
  width: 100%;
  background-color: #303030;
}

.footer-links {
  padding-top: 3rem;
  text-align: center;
}

.footer-link {
  color: #ffffff;
  padding: 0.5rem;
}

.footer-icons {
  width: 25%;
  display: flex;
  fill: #ffffff;
  margin: auto;
  justify-content: center;
  padding-top: 2rem;
}

.footer-copyright {
  color: #ffffff;
  text-align: center;
  padding: 1rem;
}

@media screen and (max-width: 768px) {
  .footer-link {
    display: inline-block;
  }
}
.grand-content {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #ffffff;
  height: 100vh;
}

.grandoskop-content {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #ffffff;
  height: 100vh;
}

.horoskop-content {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #ffffff;
  height: 100vh;
}

.navbar-logo-placeholder {
  background-color: #E44326;
  width: 15%;
}

.navbar-logo {
  height: 100%;
  width: 100%;
}

.navbar {
  background-color: #cccccc !important;
  width: 100% !important;
  padding: 0 !important;
  flex-flow: wrap !important;
  height: 80px;
}

.navbar-nav {
  text-align: center !important;
  margin: 0 auto;
}

.nav-item {
  margin: 0 auto;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.nav-link {
  color: #000000 !important;
  height: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.showbizzLink {
  border-bottom: 2px solid red;
}

.zvezde-grandaLink {
  border-bottom: 2px solid #dda92f;
}

.nikad-nije-kasnoLink {
  border-bottom: 2px solid #5a319d;
}

.prakticna-zenaLink {
  border-bottom: 2px solid #B17216;
}

.horoskopLink {
  border-bottom: 2px solid #3774A6;
}

.receptiLink {
  border-bottom: 2px solid #886C52;
}

.grandLink {
  border-bottom: 2px solid #B17216;
}

.dropdown-menu {
  background-color: #cccccc !important;
}

.dropdown-item {
  color: #000000 !important;
}

.dropdown-item-grandoskop:hover {
  background-color: #3774A6 !important;
}

.dropdown-item-horoskop:hover {
  background-color: #3774A6 !important;
}

.dropdown-item-emisije:hover {
  background-color: #B17216 !important;
}

.dropdown-item-programska-sema:hover {
  background-color: #B17216 !important;
}

.dropdown-horoskop {
  border: 2px solid #3774A6;
}

.dropdown-grand {
  border: 2px solid #B17216;
}

.navbar-collapse {
  text-align: -webkit-center;
}

.navbar-toggler {
  color: #000000 !important;
  border-color: #cccccc !important;
}

.navbar > .container, .navbar > .container-fluid {
  align-items: initial;
  min-width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  border-bottom: 1px solid black;
  height: 100%;
}

.navbar-user {
  background-color: #E44326;
  width: 17.5%;
  text-align: center;
  padding-top: 1%;
  height: -webkit-fill-available;
}

.user-icon {
  fill: #000000 !important;
}

@media screen and (max-width: 576px) {
  .navbar {
    height: max-content;
  }
}
@media screen and (max-width: 574px) {
  .nav-link {
    font-size: 100% !important;
  }
}
@media screen and (max-width: 840px) {
  .nav-link {
    font-size: 60%;
  }
}
@media screen and (max-width: 846px) {
  .navbar-user {
    padding-bottom: 2%;
  }
}
.nav-track {
  display: flex;
  justify-content: space-between;
  padding: 4px 17%;
  min-height: 20px;
  width: 100%;
  background-color: #cccccc;
  color: #000000;
  border-bottom: 1px solid black;
  position: fixed;
  z-index: 10;
}

.nav-track-social {
  display: flex;
}

.nav-track-social-icon {
  height: 1.5rem;
  margin-left: 1rem;
}

@media screen and (max-width: 840px) {
  .nav-track {
    font-size: 80%;
  }
}
@media screen and (max-width: 576px) {
  .nav-track {
    display: none;
  }
}
@media screen and (max-width: 1005px) {
  .nav-track {
    padding: 4px 10px;
  }
}
.nikadNijeKasno-content {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #ffffff;
  height: 100vh;
}

.prakticnaZena-content {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #ffffff;
  height: 100vh;
}

.programska-sema-content {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #ffffff;
  height: 100vh;
}

.recepti-content {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #ffffff;
  height: 100vh;
}

.showbizz {
  padding-top: 80px;
}

.showbizz-content {
  width: 100%;
  background-color: #ffffff;
  padding-top: 33px;
}

.showbizz-contentCenter {
  width: 70%;
  margin: auto;
  box-sizing: border-box;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.showbizz-leftBanner {
  height: 100vh;
  max-width: 15%;
  position: fixed;
  left: 0;
}

.showbizz-leftBannerImage {
  width: 100%;
}

.showbizz-rightBanner {
  height: 100vh;
  max-width: 15%;
  position: fixed;
  right: 0;
}

.showbizz-rightBannerImage {
  width: 100%;
}

.showbizz-contentCenterCarousel {
  display: flex;
  justify-content: space-between;
}

.showbizz-contentCenterSecond {
  display: flex;
  justify-content: space-between;
}

.showbizz-contentCenterFooter {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
}

@media (max-width: 1200px) {
  .showbizz-contentCenter {
    display: block;
    width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  .showbizz-leftBanner {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .showbizz-rightBanner {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .showbizz {
    padding-top: 40px;
  }

  .showbizz-content {
    padding-top: 0;
  }

  .showbizz-contentCenterCarousel {
    display: block;
  }

  .showbizz-contentCenterSecond {
    display: block;
  }
}
.zvezdeGranda {
  padding-top: 80px;
}

.zvezdeGranda-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #ffffff;
  padding-top: 34px;
}

.zvezdeGranda-leftBanner {
  height: 100vh;
}

.zvezdeGranda-rightBanner {
  height: 100vh;
}

.zvezdeGranda-contentCenterCarousel {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1200px) {
  .zvezdeGranda-contentCenter {
    display: block;
  }
}
@media screen and (max-width: 1200px) {
  .zvezdeGranda-leftBanner {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .zvezdeGranda-rightBanner {
    display: none;
  }
}
.showbizz-carousel {
  width: 60%;
  height: 45%;
  padding: 1rem;
  box-sizing: border-box;
}

.carousel .carousel-item {
  height: 400px;
}

.carousel-item img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  min-height: 400px;
}

@media screen and (max-width: 576px) {
  .showbizz-carousel {
    width: 100%;
  }
}
.showbizz-poll {
  width: 40%;
  height: 432px;
  box-sizing: border-box;
  padding: 1rem;
}

.showbizz-pollItem {
  object-fit: cover;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 576px) {
  .showbizz-poll {
    width: 100%;
  }
}
.showbizz-news {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 0.5rem;
}

.showbizz-newsItems {
  max-width: 100%;
  box-sizing: border-box;
  padding: 1rem;
}

.showbizz-newsItemsImage {
  height: 70%;
  width: 100%;
}

.showbizz-newsItem {
  object-fit: cover;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.showbizz-newsItemTitle {
  height: 30%;
  width: 100%;
  color: #000000;
}

@media screen and (max-width: 768px) {
  .showbizz-news {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.5rem;
  }
}
@media screen and (max-width: 450px) {
  .showbizz-news {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 0.5rem;
  }
}
.showbizz-popularNews {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 0.5rem;
}

.showbizz-popularNewsItems {
  max-width: 100%;
  box-sizing: border-box;
  padding: 1rem;
}

.showbizz-popularNewsItemsImage {
  height: 70%;
  width: 100%;
}

.showbizz-popularNewsItem {
  object-fit: cover;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.showbizz-popularNewsItemTitle {
  height: 30%;
  width: 100%;
  color: #000000;
}

@media screen and (max-width: 768px) {
  .showbizz-popularNews {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.5rem;
  }
}
@media screen and (max-width: 450px) {
  .showbizz-popularNews {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 0.5rem;
  }
}
.shows {
  display: block;
  width: 100%;
}

.showsItems {
  max-width: 100%;
  box-sizing: border-box;
  padding: 1rem;
}

.showsItemsImage {
  height: 50%;
  width: 100%;
}

.showsItem {
  object-fit: cover;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.showsItemTitle {
  height: 30%;
  width: 100%;
  color: #000000;
}

@media screen and (max-width: 576px) {
  .shows {
    width: 100%;
  }
}
.mostReadNews {
  display: block;
  width: 100%;
}

.mostReadNewsItems {
  display: flex;
  max-width: 100%;
  box-sizing: border-box;
  padding: 1rem;
}

.mostReadNewsItemsImage {
  height: 50%;
  width: 55%;
}

.mostReadNewsItem {
  object-fit: cover;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.mostReadNewsItemTitle {
  height: 30%;
  width: 100%;
  color: #000000;
}

@media screen and (max-width: 576px) {
  .mostReadNews {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  section {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
