$primary-color-1: #262626;
$primary-color-2: #222222;
$primary-color-3: #E44326;
$primary-color-4: #141414;
$secondary-color-1: #ffffff;
$secondary-color-2: #c5c5c5;

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

@mixin transition-ease {
    transition: all 0.5s ease-in-out;
}