$primary-color-1: #dbdbdb;
$primary-color-2:#ffffff;
$primary-color-3: #E44326;
$primary-color-4: #303030;
$secondary-color-1: #000000;
$secondary-color-2: #000000;

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

@mixin transition-ease {
    transition: all 0.5s ease-in-out;
}