.footer {
    width: 100%;
    background-color: $primary-color-4;
}

.footer-links {
    padding-top: 3rem;
    text-align: center;
}

.footer-link {
    color: $primary-color-2;
    padding: 0.5rem;
}

.footer-icons {
    width: 25%;
    display: flex;
    fill: $primary-color-2;
    margin: auto;
    justify-content: center;
    padding-top: 2rem;
}

.footer-copyright {
    color: $primary-color-2;
    text-align: center;
    padding: 1rem;
}

@media screen and (max-width: 768px){
    .footer-link {
        display: inline-block;
    }
}