.nav-track {
    display: flex;
    justify-content: space-between;
    padding: 4px 20%;
    min-height: 20px;
    width: 100%;
    background-color: $primary-color-1;
    color: $secondary-color-2;
    border-bottom: 2px solid black;
    position: fixed;
    z-index: 10;
}

.nav-track-social {
    display: flex;
}

.nav-track-social-icon {
    height: 1.5rem;
    margin-left: 1rem;
}

@media screen and (max-width: 840px) {
    .nav-track {font-size: 80%};
}  

@media screen and (max-width: 576px) {
    .nav-track {display: none};
}  

@media screen and (max-width: 1005px) {
    .nav-track {padding: 4px 10px;};
}  