.navbar-logo-placeholder {
    background-color: $primary-color-3;
    width: 15%;
}

.navbar-logo {
    height: 100%;
    width: 100%;
}

.navbar {
    background-color: $primary-color-1!important;
    width: 100%!important;
    padding: 0!important;
    flex-flow: wrap!important;
    height: 80px;
}

.navbar-nav {
    text-align: center!important;
    margin: 0 auto;
}

.nav-item {
    margin: 0 auto;
    padding-left: .5em;
    padding-right: .5em;
}

.nav-link {
    color: $secondary-color-1!important;
    height: 100%;
    padding-left: 0!important;
    padding-right: 0!important;
}

.showbizzLink {
    border-bottom: 3px solid red;
}

.zvezde-grandaLink {
    border-bottom: 3px solid #dda92f;
}

.nikad-nije-kasnoLink {
    border-bottom: 3px solid #5a319d;
}

.prakticna-zenaLink {
    border-bottom: 3px solid #B17216;
}

.horoskopLink {
    border-bottom: 3px solid #3774A6;
}

.receptiLink {
    border-bottom: 3px solid #886C52;
}

.grandLink {
    border-bottom: 3px solid #B17216;
}

.dropdown-menu {
    background-color: $primary-color-1!important;
}

.dropdown-item {
    color: $secondary-color-1!important;
}

.dropdown-item-grandoskop {
    &:hover {
        background-color: #3774A6!important;
    }
}

.dropdown-item-horoskop {
    &:hover {
        background-color: #3774A6!important;
    }
}

.dropdown-item-emisije {
    &:hover {
        background-color: #B17216!important;
    }
}

.dropdown-item-programska-sema {
    &:hover {
        background-color: #B17216!important;
    }
}

.dropdown-horoskop {
    border: 2px solid #3774A6;
}

.dropdown-grand {
    border: 2px solid #B17216;
}

.navbar-collapse {
text-align: -webkit-center;
}

.navbar-toggler {
    color: $secondary-color-1!important;
    border-color: $primary-color-1!important;
}

.navbar>.container, .navbar>.container-fluid {
    align-items:initial;
    min-width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    border-bottom: 1px solid black;
    height: 100%;
}

.navbar-user {
    background-color: $primary-color-3;
    width: 17.5%;
    text-align: center;
    padding-top: 1%;
    height: -webkit-fill-available
}

.user-icon {
    fill: $secondary-color-1!important;
}


@media screen and (max-width: 576px) {
    .navbar {height: max-content ;}
}  

@media screen and (max-width: 574px) {
    .nav-link {font-size: 100%!important}
}  

@media screen and (max-width: 840px) {
    .nav-link {font-size: 60%}
}  

@media screen and (max-width: 846px) {
    .navbar-user {padding-bottom: 2%;}
} 