.showbizz-carousel {
    width: 60%;
    height: 45%;
    padding: 1rem;
    box-sizing: border-box;
}

.carousel .carousel-item {
    height: 400px;
  }

.carousel-item img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    min-height: 400px;
}

@media screen and (max-width: 576px) {
    .showbizz-carousel {
        width: 100%;
    }
} 