.mostReadNews {
    display: block;
    width: 100%;
}

.mostReadNewsItems {
    display: flex;
    max-width: 100%;
    box-sizing: border-box;
    padding: 1rem;
}

.mostReadNewsItemsImage {
    height: 100%;
    width: 100%;
}

.mostReadNewsItem {
    object-fit: cover;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.mostReadNewsItemTitle {
    width: 100%;
    color: $secondary-color-1;
    background-color: rgba(201, 201, 201);
    height: 100%;
    padding-left: .5rem;
}

@media screen and (max-width: 1300px){
    .mostReadNewsItemTitle {
        font-size: medium;
    }
}

@media screen and (max-width: 576px){
    .mostReadNews {
        width: 100%;
    }
}