.showbizz-news {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: .5rem;
}

.showbizz-newsItems {
    max-width: 100%;
    box-sizing: border-box;
    padding: 1rem;
}

.showbizz-newsItemsImage {
    height: 70%;
    width: 100%;
}

.showbizz-newsItem {
    object-fit: cover;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}


.showbizz-newsItemTitle {
    height: 30%;
    width: 100%;
    color: $secondary-color-1;
}

@media screen and (max-width: 768px){
    .showbizz-news {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: .5rem;
    }
}

@media screen and (max-width: 450px){
    .showbizz-news {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: .5rem;
    }
}