.showbizz-poll {
    width: 40%;
    height: 432px;
    box-sizing: border-box;
    padding: 1rem;
}

.showbizz-pollItem {
    object-fit: cover;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 576px) {
    .showbizz-poll {
        width: 100%;
    }
} 