.shows {
    display: block;
    max-width: 100%;
}

.showsItems {
    max-width: 100%;
    box-sizing: border-box;
    padding: 1rem;
}

.showsItemsImage {
    height: 100%;
    width: 100%;
}

.showsItem {
    object-fit: cover;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}


.showsItemTitle {
    height: 30%;
    width: 100%;
    color: $secondary-color-1;
}

@media screen and (max-width: 576px){
    .shows {
        width: 100%;
    }
}
