.zvezde-granda-news {
    display: flex;
    justify-content: space-evenly;
}

.zvezde-granda-newsItems {
    height: 15%;
}

.zvezde-granda-newsItem {
    height: 12rem;
    width: 18rem;
}

.zvezde-granda-newsItemTitle {
    color: white;
}
